body {
  background-color: rgba(0, 255, 34, 0.192);
}

.container {
  width: 500px;
  background-color: #fff;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  margin-top: 30px;
}
.search-bar {
  width: 500px;
  height: 60px;
  margin: 5px;
}
.search-bar input {
  width: 430px;
  padding: 9px 15px;
  margin-top: 10px;
  border: 1px solid #777;
  border-radius: 8px;
  margin-left: 10px;
  letter-spacing: 1.5px;
  font-size: 1.1rem;
  font-family: cursive;
  color: black;
}

input:focus {
  outline: none;
}

.app-title {
  background-color: rgba(255, 187, 0, 0.548);
  width: 500px;
  height: 50px;
  border-radius: 10px 10px 0 0;
}
.app-title p {
  text-align: center;
  padding: 15px;
  margin: 0 auto;
  font-size: 1.2rem;
  color: #293251;
}
.notification {
  background-color: #f8d7da;
  display: none;
}
.notification p {
  color: black;
  font-size: 1.2rem;
  margin: 0;
  text-align: center;
  padding: 10px 0;
}
.weather-container {
  width: 500px;
  height: 550px;
  background-color: white;
}
.weather-icon {
  width: 500px;
  height: 40px;
}
.weather-icon img {
  display: block;
  margin: 0 auto;
}

.temperature-value {
  width: 500px;
  height: 60px;
}
.temperature-value p {
  text-align: center;
  font-size: 3.5rem;

  cursor: pointer;
  color: #293251;
}
.temperature-value span {
  color: red;
  font-size: 2rem;
}

.temperature-description p {
  padding: 8px;
  margin: 10px;
  color: #293251;
  text-align: center;
  font-size: 2rem;
}
.time-zone p {
  color: #293251;
  text-align: center;
  font-size: 2em;
}
.time-zone span {
  font-size: 1.1rem;
  color: #15e052;
}
.wind-speed p {
  color: #293251;
  text-align: center;
  font-size: 2.3rem;
}
.wind-speed span {
  font-size: 1.2rem;
  color: rgb(255, 153, 0);
}
.wind-pressure p {
  text-align: center;
  font-size: 2em;
}
.wind-pressure span {
  font-size: 1.3rem;
  color: #15b1e0;
}
.location p {
  color: #f70a0a;
  text-align: center;
  font-size: 2em;
}

@media only screen and (max-width: 600px) {
  body {
    margin: auto;
  }
  .container,
  .search-bar,
  .app-title,
  .weather-icon,
  .temperature-value {
    width: 22rem;
  }

  .weather-container,
  .search-bar input {
    width: 18rem;
  }
  .weather-container {
    height: 30rem;
  }
  .temperature-description p {
    margin-left: 50px;
    font-size: 1.5rem;
  }
  .time-zone p,
  .wind-speed p,
  .wind-pressure p,
  .location p {
    margin-left: 50px;
    font-size: 1.5rem;
  }
}
